.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0px;
  left: 0px;
  width: 72px;
  background-color: white;
  z-index: 200;
}
.sidebar-box {
  height: 75px;
  width: 72px;
  cursor: pointer;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-box:hover {
  background-color: rgb(238, 234, 234);
}
.sidebar img {
  width: 24px;
}
.sidebar div{
  font-family: Roboto, Arial;
  font-size: 10px;
  margin-top: 5px;
}