    .back-button {
        padding: 6px 10px;
        font-size: large;
        cursor: pointer;
    }
    .next-button {
        padding: 6px 10px;
        font-size: large;
        cursor: pointer;
    }
    .q1{
        font-size: large;
        margin: 10px 10px;
    }
    .Stretch-Button {
        padding: 6px 10px;
        background-color: yellowgreen;
        border: none;
        transition: all 0.3s ease;
        margin: 5px 5px;
        vertical-align: middle;
    }
    .Stretch-Button:hover {
        cursor: pointer;
        padding: 18px 30px;
    }