.sidebar {
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 72px;
}
.home-icon {
  width: 26px;
}
.home-button:hover {
  background-color: rgb(209, 131, 28);
}
.home-button {
  width: 40px;
  border: 0;
  position: absolute;
  top: 22px;
  left: 18px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.explore-icon {
  width: 26px;
}
.explore-button {
  border: 0;
  position: absolute;
  top: 96px;
  left: 18px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.subscription-icon {
  width: 26px;
}
.subscription-button {
  border: 0;
  position: absolute;
  top: 169px;
  left: 18px;
  background-color: rgb(255, 255, 255);
  width: 26px;
  cursor: pointer;
}
.originals-icon {
  width: 26px;
}
.originals-button {
  position: absolute;
  top: 244px;
  left: 18px;
  border: 0;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.youtube-music-icon {
  width: 26px;
}
.youtube-music-button {
  position: absolute;
  top: 316px;
  left: 18px;
  border: 0;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.library-icon {
  width: 26px;
}
.library-button {
  position: absolute;
  top: 390px;
  left: 18px;
  border: 0;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
