.thumb {
  width: 300px;
  display: block;
}
.search-bar {
  width: 200px;
  height: 30px;
  border: 0.1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400px;
  margin-bottom: 40px;
  display: block;
}
.video-preview {
  display: inline-block;
}
