    P{
        font-family: Tahoma;
    }
    .text-t {
        font-size: 24;
        font-weight: bold;
    }
    .biggest-t {
        font-size: 36;
        font-weight: bold;
        margin-bottom: 0;
    }
    .sale-t {
        font-size: 18;
        font-weight: normal;
        color: #d30d0d;
        font-style: italic;
        margin-top: 4px;
    }
    .html-t {
        font-size: 20;
        font-weight: bold;
        color: #000000;
        margin-top: 8px;
        margin-bottom: 0;
    }
    .beginner-t {
        font-size: 16;
        color: #3f3939;
        margin-top: 4px;
        opacity: 0.8;
    }
    .des-t {
        font-size: 14;
        color: #000000;
        margin-top: 4px;
        width: 300px;
        margin-bottom: 0;
        line-height: 1.5;
    }
    .get-button {
        background-color: #06bb4e;
        color: white;
        padding: 7px 16px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        margin-top: 10px;
    }
    .shopping-t {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 0;
    }
    .apple-t {
        font-size: 14px;
        color: #000000;
        margin-top: 10px;
        text-align: center;
    }
    .learn-t {
        font-size: 14px;
        color: #0000ff;
        text-align: center;
        margin-top: 4px;
        cursor: pointer;
    }